.home-container{
    display: flex;
    gap: 5rem;
    align-items: center;

    @media screen and (max-width: 768px) {
            flex-direction: column-reverse;

            .hero-image{
                margin-top: 25%;
            }

            .title{
                line-height: 1.2;
                margin-top: 1.1rem;
                white-space: nowrap;
            }
      }


    .hero-image{
        width: 40%;
        border-radius: 50%;
    }

    .hero-information{

        .accent-small{
            color: var(--primary-color);
            margin-bottom: -1rem;
        }

        .cta-buttons {
            display: flex;
            gap: 10px;
            margin-top: 2rem;
    
            .cta-button {
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
            
            .primary {
                background-color: var(--accent-color);
                color: var(--white-color);
            }
    
            .secondary {
                background-color: var(--primary-color);
                color: var(--white-color);
            }
    
            .cta-button:hover {
                opacity: 0.9;
            }
        }
        
        .hero-information-bottom{
            margin-top: 20%;


            .social-icons{
                list-style: none;
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                font-size: 32px;
                margin-top: 2rem;
                margin-left: -32px;

                @media screen and (max-width: 768px){
                    justify-content: flex-start;
                    width: 80%;
                    gap: .5rem;
                }
                
            }
        }
        
    }
    

    
    
    @media screen and (min-width: 769px) and (max-width: 1024px)  {
        /* Adjust styles for tablets and smaller desktop screens */
        // .home-container{
        //     flex-direction: column;
        // }

      }
    
    @media only screen and (min-width: 1025px) {
        /* Styles for screens larger than 1024px width */
        /* Adjust styles for larger desktop screens */
      }
}
    