nav{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: var(--white-color);
  padding: 1rem 6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .logo{
    color: var(--accent-color);
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
  }

  ul{
    float: right;
    margin-right: 20px;

    li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;

      a{
        color: var(--text-color);
        font-size: var(--font-weight-regular);
        padding: 7px 13px;
        border-radius: 3px;
      }
      a.active, a:hover{
        background-color: var(--accent-color);
        color: var(--white-color);
        transition: .5s;
      }
    }
  }

  .checkbtn{
    font-size: 30px;
    color: var(--text-color);
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }
  

  @media screen and (max-width: 768px) {
    padding: 1rem 2rem;
    opacity: 0.95;

    .checkbtn{
      display: block;
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      opacity: 0.95;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;

      li {
        display: block;
        margin: 20px 0;
        line-height: 30px;

        a {
          font-size: 2rem;
          font-weight: var(--font-weight-medium);
          color: var(--white-color);
        }
      }
    }

    #check:checked ~ ul {
      left: 0;
    }
  }
}




// MOBILE




// nav{
//   padding: 1rem 2rem;
//   opacity: 0.95;
// }

// nav ul{
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: var(--primary-color);
//   opacity: 0.95;
//   top: 80px;
//   left: -100%;
//   text-align: center;
//   transition: all 0.5s;
// }

// nav ul li{
//   display: block;
//   margin: 50px 0;
//   line-height: 30px;
// }
// nav ul li a{
//   font-size: 2rem;
//   font-weight: var(--font-weight-medium);
//   color: var(--white-color);
// }

// nav ul li a.active,
// nav ul li a:hover{
//   background: none;
//   color: var(--accent-color);
// }

// #check:checked ~ ul{
//   left: 0;
// }



// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   margin: 0 auto;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//   .logo {
//     font-size: 2rem;
//   }

//   ul {
//     list-style: none;
//     display: flex;
//     gap: 1rem;
//   }

//   @media (max-width: 768px) {
//     flex-direction: column; 
//     .logo {
//       margin-bottom: 1rem; 
//     }

//     ul {
//       flex-direction: column; 
//       gap: 0.5rem; 
//     }
//     .social-icons{
//       display: none;
//     }
//   }
// }