.projects-container{
    text-align: center;
    :first-child{
        h2{
            margin-top: 5rem;
        }
        p{
            margin: 2rem;
        }
        hr{
            margin: 0 auto 2rem;
        }
    }
}


.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    margin: 0 auto;

    @media screen and (max-width: 600px){
        flex-direction: column;
    }


    .project-card {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        color: var(--white-color);
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: transform 0.2s ease;
        width: 250px;

        @media screen and (max-width: 600px){
            width: auto;
        }

        .buttons-container{
            margin-top: auto;

            // .button-secondary{
            //     background-color: #333;
            // }

            .button{
                background-color: var(--secondary-color);
            }
          }

        .description-wrapper {
            max-height: 200px ;
            overflow: hidden;
            transition: max-height 0.5s ease; 
          }

        
        img {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 1rem;
          }

        button{
            margin-top: 2rem;
          }       
          
        
      }
    .project-card:hover {
        transform: translateY(-5px);
      }
  }